@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
[data-theme="dark"] {
    color: white !important;
}

/* styles.css */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}